.styles {
  position: fixed;
  bottom: 50;
  right: 30;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.up_arrow_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(47, 47, 47);
  color: rgb(239, 237, 237);
  transition: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-name: spin;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.up_arrow_wrap:is(:hover, :focus) {
  background-color: rgb(98, 98, 133);
  color: rgb(224, 224, 231);
  box-shadow: 0px 0px 5px 3px rgba(98, 98, 133, 0.75);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(98, 98, 133, 0.75);
  -moz-box-shadow: 0px 0px 5px 3px rgba(98, 98, 133, 0.75);
}

.up_arrow {
  fill: currentColor;
}

@keyframes spin {
  0% {
    transform: translateY(10px);
  }

  25% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(10px);
  }
}
