.error {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  max-width: 800px;
  width: 100%;
  min-height: 50px;
  height: 100%;

  padding: 20px;

  margin: auto;

  font-size: 40px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: center;

  background-color: rgb(203, 47, 47);
  border-radius: 5px;
  box-shadow: 5px 5px 10px 5px rgba(90, 89, 89, 0.75);
  -webkit-box-shadow: 5px 5px 10px 5px rgba(90, 89, 89, 0.75);
  -moz-box-shadow: 5px 5px 10px 5px rgba(90, 89, 89, 0.75);
}
